html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

ul {
  padding-left: 10px;
}

li {
  list-style: none;
  display: flex;
  gap: 20px;
}

.name-in-chat {
  width: 10%;
  color: grey;
}

.message-in-chat {
  width: 60%;
  color: rgb(129, 3, 28);
}

.time-in-chat {
  width: 20%;
  color: cornflowerblue;
}
